div#proposal-navigation-container {
    float: left;
    width: 25%;
    border-right: 2px solid black;
    margin-right: 2em;
}

ul#proposal-navigation.menu.vertical {
    padding: 3em 0 1em 0;
}

div.section {
    margin-left: 25%;
}

ul#proposal-navigation.menu.vertical > li {
    margin: 0;
    padding: 0;
}

ul#proposal-navigation.menu.vertical li a {
    display: block;
    padding: 0.5em 0 0.5em 1.5em;
}

ul#proposal-navigation.menu.vertical li ul li a {
    padding: 0 0 0 1.5em;
}

ul#proposal-navigation.menu.vertical li ul.menu li {
    padding-left: 0;
    margin-left: 0;
}

ul.menu.vertical li.section-navigation-item ul.menu {
    display: none;
}