/**
 * views-book_home.css - Styles for the Community Profile preview
 * $Id$
 */

/***********************************************************************
 * Elements
 ***********************************************************************/


/***********************************************************************
 * Items
 ***********************************************************************/


/***********************************************************************
 * Classes
 ***********************************************************************/
body #block-eds-profile-community-profile-previewer h1 {
    font-size: 16px;
    margin-bottom: 25px;
}

#block-eds-profile-community-profile-previewer .content ul li {
    margin-bottom: 0px !important;
}
 
#block-eds-profile-community-profile-previewer .book-preview {
    display: none;
    float: left;
    width: 315px;
    margin-left: 20px;
    /*margin-top: -43px;*/
}

#block-eds-profile-community-profile-previewer div.header-image {
    float: right;
    background-color: #fff;
    padding: 4px;
    margin: 0 0 1em 1em;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#block-eds-profile-community-profile-previewer div.header-image img {
    border: 1px solid #59595B;
}

#block-eds-profile-community-profile-previewer .item-list  {
    width: 170px;
    height: 150px;
    overflow: auto;
    float: left;
    padding: 0;
}

#block-eds-profile-community-profile-previewer .item-list li {
    color: #484438;
    background: url(../images/quick-profile-double-arrow.png) 5px 6px no-repeat;
    border-bottom: 1px solid #A2A093;
    font-family: Georgia;
    padding: 5px 0 7px 25px;
    margin: 0;
}

#block-eds-profile-community-profile-previewer .item-list li.last {
    border-bottom: none;
}

#block-eds-profile-community-profile-previewer .item-list li.active,
#block-eds-profile-community-profile-previewer .item-list li:hover {
    background-color: #e5e5e5;
    color: #044da5;
}

#block-eds-profile-community-profile-previewer .preview-title {
    cursor: pointer;
    display: block;
}

#block-eds-profile-community-profile-previewer .read_more a {
    text-decoration: none;
}

#block-eds-profile-community-profile-previewer .scroll-outer {
    height:150px;
    overflow:hidden;
    position:relative;
    width:170px;
    float: left;
}

#block-eds-profile-community-profile-previewer .scroll-outer ul {
    padding-left: 0;
}

/* Scrollbar container */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #f2efef;
}
.jScrollPaneDrag {
    position: absolute;
	background: #cecece;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	background: url('../images/quick-profile-up-arrow.gif') no-repeat;
    display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 14px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	background: url('../images/quick-profile-down-arrow.gif') no-repeat;
    display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 14px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
#block-eds-profile-community-profile-previewer .content:after{
    clear: both;
    display: block;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
}