/**
 * layout.css - Frontend regular layout styles
 */

/***********************************************************************
 * Elements
 ***********************************************************************/

/***********************************************************************
 * Items
 ***********************************************************************/

/* Possible layout configuration (center | sidebar second)  */
body.sidebar-second #center {
	float: left;
	width: 70%;
}

body.sidebar-second #sidebar-second {
	float: right;
	width: 25%;
}
/***********************************************************************
 * Classes
 ***********************************************************************/
